# ignore everything!
*

# Common dotfiles
!/.gitignore
!/.zshrc
!/.profile
!/.gitconfig
!/.vimrc

# uncommon nondotfiles
!/flake.nix 


# Add in config files
# Configuration directories
!/.config/
!/.config/fastfetch/
!/.config/fastfetch/**
!/.config/fish/
!/.config/fish/**
!/.config/conky/
!/.config/conky/**
!/.config/kitty/
!/.config/kitty/**
!/.config/nvim/
!/.config/nvim/**
!/.config/btop/
!/.config/btop/**
!/.config/iterm/
!/.config/iterm/**


